@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.cssFontNavbarClass {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 36px;
  text-transform: uppercase;
}

.cssFontError {
  color: red;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 36px;
  text-transform: uppercase;
}

.cssFontTextMontserrat {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 370;
  font-style: normal;
  line-height: 36px;
}

.cssFontTitleSingleMovie {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 36px;
  font-size: 200%;
  text-transform: uppercase;
}

.cssFontCollectionTitle {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 22px;
  font-size: 50%;
}

.cssFontCollectionDirector {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 85%;
  font-style: italic;
  line-height: 19px;
}

.cssFontFooter {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 50%;
  line-height: 19px;
}

.mainSectionBg {
  background-color: #222222;
}

.collectionBackGround {
  background-color: rgb(0, 0, 0);
}
