@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.cssFontNavbarClass {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 36px;
  text-transform: uppercase;
}

.mainSectionBg {
  background-color: #222222;
}
