@media screen and (max-width: 768px) {
  /*until 768 ---> let this .CSS work */

  .newsletterFont {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 370;
    font-style: normal;
    line-height: 6vh;
  }

  .newsletterTitleFont {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 7vh;
  }
}

@media screen and (min-width: 768px) and (max-width: 1050px) {
  /*from 768px to 1050px */

  .newsletterFont {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 370;
    font-style: normal;
    line-height: 9vh;
  }

  .newsletterTitleFont {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 11vh;
  }
}

@media screen and (min-width: 1050px) and (max-width: 2000px) {
  .newsletterFont {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 370;
    font-style: normal;
    line-height: 9vh;
  }

  .newsletterTitleFont {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 11vh;
  }
}
