@media screen and (max-width: 768px) {
  /*until 768 ---> let this .CSS work */

  .cssFontCollectionTitle {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    line-height: 22px;
    margin-top: 1vh;
  }

  .cssFontCollectionDate {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-style: italic;
    line-height: 19px;
    margin-top: 1vh;
  }
}

@media screen and (min-width: 768px) and (max-width: 1050px) {
  /*from 768px to 1050px */

  .cssFontCollectionTitle {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 22px;
    font-style: normal;
    line-height: 5px;
    margin-top: 5vh;
  }

  .cssFontCollectionDate {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-style: italic;
    line-height: 5px;
    margin-top: 5vh;
  }
}

@media screen and (min-width: 1050px) and (max-width: 2000px) {
  .cssFontCollectionTitle {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 22px;
    font-style: normal;
    line-height: 5px;
    margin-top: 5vh;
  }

  .cssFontCollectionDate {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-style: italic;
    line-height: 5px;
    margin-top: 5vh;
  }
}
